body {
    overflow: hidden; /* Hide scrollbars */
}

#container{
    display: flex;
    justify-content: center;
}

#submitbtn{ 
    position: relative;
    left: 1160px;
    top: -50px;
    height: 30px;
    width: 100px;
}

#textareainfo{
    position: relative;
    left: 900px;
    top: -40px;
}